*{
    box-sizing: border-box;
}

.main{
    font-size: 18px;
    width: 100%;
    height: 100%;
    font-family: 'Radio Canada', sans-serif;
}
.sub-main{
    padding: 4%;
}



    

/* this is navbar section styling */

.nav-battle-option {
    padding: 0 1em;
}

.nav-options{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
}




.nav-options:focus, .nav-options:hover{
    color: rgb(187, 46, 31);
}


.button{
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    border: 0;
    background: transparent;
}


/* this is page options section styling */


.popular-page-options{
    list-style: none;

}
.popular-page-buttons{
    font-size: 1.1em;
    font-weight: 600;
    border: 0;
    background: transparent;
}
.popular-page-buttons:focus, .popular-page-buttons:hover{
    color: rgb(187, 46, 31);
}

/* this is user card section styling */
.popular-user-image {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
  }
.popular-user-card-conatiner{
    background-color: rgba(0, 0, 0, 0.08);
    text-align: center;
    width: 15em;
    height: 25em;

    padding: 2em 1.8em;
    margin-bottom: 1.5em;
}
.popular-user-card-details-container{
    padding-left: 0;
    /* text-align: left; */
}


.popular-user-card-number{
    font-size: 2em;
}

.popular-user-title{
    color: rgb(187, 46, 31);
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;

}
.popular-user-title:hover{
    cursor: pointer;
    color: rgb(187, 46, 31);
}

/* each card styling */

.popular-user-card-each-detail-container{
    text-align: left;
    list-style: none;
}

.each-detail-content{

    color: black;
    text-decoration: none;
    font-size: 1.1em;
}
.each-detail-content:hover{
    cursor: pointer;
    color: black;

}



.each-detail-title{
    font-weight: 600;
    font-size: 1.1em;
}

.each-detail-sub-container{
    display: flex;
    align-items: center;
}
.each-detail-icon{
    margin-right: 0.5em;
}




.battle-page-icons-container{
    margin: 5em 0;
}
.battle-page-icons-title{
    font-size: 2em;
    margin: 0.8em 0;
}


.battle-page-icon{
    
    width: 26%;
    list-style: none;
}


.battle-page-icon-tilte{
    
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.battle-page-icon-image{
    

    background-color: rgba(0, 0, 0, 0.08);
    padding: 2em 2.5em;
}


.battle-page-players-container{
    margin: 5em 0;
    
}
.battle-page-players-title{
    font-size: 1.8em;
    margin-bottom: 1em;
}

.battle-page-player-container{
    width: 48%;
}
.battle-page-player-title{
    align-self: flex-start;
    font-size: 1.2em;
}

.battle-page-player-input{
    margin-right: 1em;

}
.battle-page-player-input:focus{
    border: 2px solid black !important;
    box-shadow: none !important;

}


/* #playerOneInput:focus, #playerTwoInput:focus{
    border: 2px solid black;
    box-shadow: none;
} */
.battle-page-player-submit-button{
    width: 50%;
    letter-spacing: 0.2em;
}
.battle-page-player-submit-button:disabled{
    background-color: #f2f2f2 !important;
    color: #c7c7c7 !important;
    border: 0;
}



/* ###########33 */
.battle-player-fetch-container{

    width: 48%;
}
.battle-player-fetch-title{
    font-size: 1.2em;
}
.battle-player-fetch-display-container{
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.6em;
}
.battle-player-fetch-display-image{
    /* background-color: red; */
    height: 3.5em;
    border-radius: 2em;
    margin-right: 1em;
}
.battle-player-fetch-display-title{
    text-decoration: none;
    color: rgb(187, 46, 31);
    font-weight: bold;
}
.battle-player-fetch-display-button{
    background: transparent;
    border: 0;
    margin-left: auto;
}

.battle-page-battle-button{
    margin: 3em 0;
    width: 14em;
    letter-spacing: 0.2em;
}




/* #######################  */

.result-page-players-container{
    
    padding: 5% 0;
}
.result-page-player-container{
    
    background-color: rgba(0, 0, 0, 0.08);
    width: 18em;
    padding: 2em;
}
.result-page-player-status{
    
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

.result-page-player-image{
    
    width: 8em;
    border-radius: 0.3em;
    /* align-self: center; */
}

.result-page-player-score{
    /* background-color: red; */

    margin: 1em 0 0.5em 0;
    font-size: 0.9em;
    font-weight: bold;
}

.result-page-player-login{
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(187, 46, 31);
}
.result-page-player-details-container{
    padding: 0;
}
.result-page-player-details-icons{
    margin-right: 0.5em;
    height: 1.2em;
}

.result-page-player-details-sub-container{
    list-style: none;
    margin: 0.2em 0;
}
.result-page-reset-button{
    margin: 1em 0;
    align-self: center;
    letter-spacing: 0.3em;
    width: 15em;
}




/* this is theme styling section  */
.dark-font{
    color: #DADADA;
}
.dark-bg-main{
    background-color: #1c2022;
}
.dark-bg-cards{
    background-color: rgb(36, 40, 42);
}


.dark-font-card:hover{
    color: #DADADA;
}

.button-dark{
    background-color: #aaa8a8 !important;
    color: black !important;
    border: 0 !important;
}
.button-dark:disabled{
    background-color: #292929 !important;
    color: #4a4a4a !important;
    border: 0;
}

.input-dark{
    background-color: rgba(0,0,0,0.3) !important;
    margin-right: 1em;
    border: 0 !important;
    color: #DADADA !important;
}
.input-dark:focus{
    border: 2px solid #DADADA !important;
    box-shadow: none!important;

}

.button-battle-dark{
    background-color: #141414 !important;
    color: #e6e6e6 !important;

}