.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid rgb(187, 46, 31);
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;

    margin: 20vh 0;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }